```bash
[Desktop Entry]
Name=Install Dock Wake Manager
Comment=Launcher for the SteamOS Dock Wake Utility Control Panel
Exec=curl -sSL https://bit.ly/3QZbWWh -o /tmp/manage_dock.sh && chmod +x /tmp/manage_dock.sh && /tmp/manage_dock.sh
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;
```
